{% load static %}
{% load lesson_tags %}
<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link type="text/css" href="{% static 'lesson_static/css/styles.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="{% static 'lesson_static/img/main.ico' %}" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<table class="table-page" border=0 cellpadding="0" cellspacing="0">
<tr><td valign=top>
{% block mainmenu %}
		<div class="header">
			<ul id="mainmenu" class="mainmenu">
			<li class="logo"><a href="{% url 'home_page' %}"><div class="logo"></div></a></li>
{% for m in main_menu %}
	<li><a href="{% url m.url_name %}">{{m.title}}</a></li>
{% endfor %}
{% if user.is_authenticated %}
	<li class="last">{{ user.username }} | <a href="{% url 'users:logout' %}">Выйти</a></li>
{% else %}
	<li class="last"><a href="{% url 'users:login' %}">Войти</a> | <a href="#">Зарегистрироваться</a></li>
{% endif %}
			</ul>
			<div class="clear"></div>
		</div>
{% endblock mainmenu %}


<table class="table-content" border=0 cellpadding="0" cellspacing="0">
<tr>

	<td valign="top" class="left-chapters">
	<ul id="leftchapters">

		{% if cat_selected == 0%}
		<li class="selected">Все категории</li>
		{% else %}
		<li><a href="{% url 'home_page' %}">Все категории</a></li>
		{% endif %}

		{% show_categories cat_selected %}

		<li class="share">
		<p>Наш канал</p>
		<a class="share-yt" href="https://www.youtube.com/" target="_blank" rel="nofollow"></a>
		</li>

		<li>{% show_all_tags %}</li>
	</ul>
</td>

<td valign="top" class="content">
	{% block breadcrumbs %}
	{% endblock %}


	<div class="content-text">
{% block content %}
{% endblock %}
	</div>


{% block navigation %}
{% endblock %}

</td></tr></table>
</td></tr>

<tr><td valign=top>
	<div id="footer">
		<p>учебный шаблон</p>
	</div>
</td></tr></table>

</body>
</html>
