{% extends 'base.html' %}

{% block content %}
    <h1>{{ title|capfirst }}</h1>

    {% include 'lesson_temp/includes/nav.html' %}


    <ul>
        {% for elem in posts %}
        {% if elem.is_published == True %}
        <li>
            <h2>{{ elem.title }}</h2>
            <p>{{ elem.content }}</p>
            <p><a href="{% url 'post' elem.id %}">Читать пост</a></p>
            {% if not forloop.last %}
            <hr>
            {% endif %}
        </li>
        {% endif %}
        {% endfor %}
    </ul>

    {% include 'lesson_temp/includes/nav.html' %}

{% endblock %}